html {
    font-family: 'Istok Web', sans-serif;;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-width: 320px;
}

body :hover {
    cursor: default;
}

input:required {
    box-shadow: none;
}

a {
    text-decoration: none;
}

div.top {
    background: linear-gradient(to right, #a30606 45.5%, #ffffff 45.5%);
    height: 454px;
    min-width: 1072px;
}

div.top1 {
    height: 66px;
    padding-top: 13px;
}

.logo1 {
    display: inline-block;
    margin-left: 19.1%;
}

.logo1 img {
    width: 105px;
}

.logo1 img:hover {
    cursor: pointer;
}

.address {
    display: inline-block;
    margin-left: 48.8px;
    height: 32px;
    vertical-align: middle;
}

.address img:hover, .address p:hover {
    cursor: pointer;
}

.address img, .address p {
    display: inline-block;
    color: white;
    font-size: 0.55em;
}

.address img {
    width: 12px;
}

.address p {
    line-height: 3px;
}


.callMe {
    display: inline-block;
    position: absolute;
    margin-top: 3.4px;
    left: 47%;
    height: 56px;
    vertical-align: middle;
}

.callMe button {
    background: #a30606;
    width: 130px;
    height: 33px;
    color: white;
    font-size: 0.6em;
    border: none;
    outline: none;
}

.callMe button:hover {
    color: #a30606;
    background: white;
    transition: 0.4s;
    border: 1px solid #a30606;
    cursor: pointer;
}

.logo2 {
    display: inline-block;
    float: right;
    height: 50px;
    margin-right: 19.7%;
}

.logo2 img {
    width: 60px;
    margin-top: 5px;
}

.logo2 img:hover {
    cursor: pointer;
}

div.mobileMenu, a.burger {
    display: none;
}

div.top2 {
    width: 1200px;
    margin: 0 auto;
}

div.top2Text {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    margin-left: 218px;
    z-index: 2;
}

div.promo {
    color: white;
}

div.promo p {
    font-size: 1.2em;
}


div.promo h2 {
    font-size: 1.7em;
}

div.promo2 {
    display: none;
}

div.top2 .button button {
    margin-top: 17px;
    width: 168px;
    height: 35px;
    color: #a30606;
    background: white;
}

div.top2 button:hover {
    color: white;
    background: #a30606;
    border: 1px solid white;
    transition: 0.3s;
    cursor: pointer;
}

div.top2 .button2 {
    display: none;
}

div.top2Cars {
    display: inline-block;
    position: absolute;
    margin-left: -93px;

    z-index: 0;
}

div.top2Cars img {
    width: 610px;
}

div.top3 {
    min-width: 1140px;
    max-width: 1200px;
    margin: 52px auto;
}

.menu {
    display: inline-block;
    margin-top: 3px;
    margin-left: 15.7%;
    color: white;
}

#mobileMenu {
    display: none;
}

.menu p {
    padding-left: 41px;
    font-size: 0.9em;
}

.navPanel {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 27px;
}

.navPanel li {
    display: inline-block;
    font-size: 0.7em;
    color: white;
    line-height: 17.5px;
    padding-right: 27px;
}

.navPanel a {
    color: white;
    text-decoration: none;
}

.navPanel a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.creditForm {
    display: inline-block;
    float: right;
    margin-top: 52px;
    margin-right: 29.1%;
}

.creditForm2 {
    display: none;
}

.creditForm h2 {
    font-size: 1.8em;
}

.creditForm p {
    font-size: 0.6em;
}

.creditForm form {
    margin-top: 21px;
    position: absolute;
    width: 390px;
}

form .phone {
    width: 176px;
    height: 30px;
    outline: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

form .phone:hover {
    cursor: text;
}

form .submit {
    margin-left: 15px;
    width: 175px;
    height: 29px;
    background: #a30606;
    color: white;
    border: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.creditForm .submit:hover {
    color: #a30606;
    background: white;
    border: 1px solid #a30606;
    transition: 0.3s;
    cursor: pointer;
}

div.middle {
    margin-top: 40px;
    margin-left: 40px;
}

div.cars {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

div.car {
    display: inline-block;
    width: 370px;
    height: 250px;
    text-align: left;
}

#ceed {
    margin-left: -16px;
}

div.photoCar {
    display: inline-block;
    height: 250px;
}

.photoCar h3 {
    width: 133px;
    position: absolute;
    margin-top: 7px;
    margin-left: -7px;
}

#new {
    color: #a30606;
}

.photoCar img {
    width: 220px;
}

div.textCar {
    display: inline-block;
    position: absolute;
    width: 125px;
    margin-left: -15px;
    margin-top: -10px;
}

.gift .wheelDiv {
    display: inline-block;
}

.gift .wheel {
    width: 25px;
    vertical-align: middle;
}

.gift .giftText {
    display: inline-block;
    text-align: left;
    font-size: 0.6em;
    line-height: 10px;
    vertical-align: middle;
}

.textCar .discount {
    margin-top: 7px;
    font-size: 0.7em;
    font-weight: bold;
    color: #a30606;

}

.textCar .rectangle {
    width: 130px;
    height: 25px;
    border: 1px solid #a30606;
    margin-top: 5px;
    text-align: center;
}

.textCar .rectangle p {
    font-size: 0.59em;
    color: #a30606;
    padding: 5px;
}

.textCar .getDiscount {
    margin-top: 6px;
    width: 130px;
    height: 25px;
    border: none;
    background: #a30606;
    font-size: 0.5em;
    color: white;
    outline: none;
}

.getDiscount:hover {
    color: #a30606;
    background: white;
    border: 1px solid #a30606;
    transition: 0.3s;
    cursor: pointer;
}

.textCar .getOffer {
    margin-top: 6px;
    width: 130px;
    height: 25px;
    border: none;
    background: #333333;
    font-size: 0.5em;
    color: white;
    outline: none;
}

.getOffer:hover {
    color: #333333;
    background: white;
    border: 1px solid #333333;
    transition: 0.3s;
    cursor: pointer;
}

div.bottom {
    min-width: 1200px;
}

div.contacts {
    margin-top: -48px;
    width: 605px;
    height: 185px;
    position: relative;
    float: right;
    background: #a30606;
    color: white;
    padding-top: 14px ;
    padding-left: 20px;
    z-index: 2;
}

.contacts h3 {
    font-size: 1.05em;
    font-weight: normal;
}

.contacts p {
    padding-top: 2px;
    font-size: 0.65em;
    line-height: 19px;
}

.contacts .inputBottom {
    margin-top: 15px;
    margin-left: -1px;
    width: 172px;
    height: 26px;
    background: #a30606;
    color: white;
    outline: none;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.inputBottom:hover {
    cursor: text;
}

.contacts .submitBottom {
    margin-top: 7px;
    margin-left: -2px;
    width: 174px;
    height: 27px;
    color: #a30606;
    background: white;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.submitBottom:hover {
    color: white;
    background: #a30606;
    border: 1px solid white;
    transition: 0.3s;
    cursor: pointer;
}

.map {
    width: 560px;
    height: 220px;
    display: inline-block;
    position: absolute;
    z-index: 0;
    margin-top: -63px;
    margin-left: 19%;
    margin-bottom: 37px;
}

.map img:hover {
    cursor: pointer;
}

div.popUp {
    display: none;
    text-align: center;
}

.popUp .getMoney {
    font-weight: bold;
    margin-bottom: 12px;
}

.popUp .inputPop {
    width: 172px;
    height: 26px;
    outline: none;
    text-align: center;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.popUp .submitPop {
    margin-top: 5px;
    margin-left: -7px;
    width: 174px;
    height: 27px;
    color: white;
    font-size: 0.6em;
    font-weight: normal;
    background: #a30606;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.popUp .agreement {
    margin-top: 5px;
    font-size: 0.4em;
    font-weight: normal;
    color: #d8d8d8;
    line-height: 1.2;
    width: 170px;
}


@media (min-width: 601px) and (max-width: 1130px) {

    div.cars {
        margin-left: 144px;
    }

    div.map {
        margin-left: 210px;
    }
}

@media (max-width: 1072px) {

    .callMe {
        display: inline-block;
        position: relative;
        margin-top: 3.2px;
        margin-left: -480px; !important;
        height: 56px;
        vertical-align: middle;
    }

}

@media (max-width: 600px) {

    div.top {
        background: #a30606;
        height: auto;
        width: 100%;
        min-width: 100px;
    }

    div.top .callMe, .top .logo2 {
        display: none;
    }

    div.top1 {
        padding-top: 20px;
        height: 20px;
    }

    div.top1 .logo1 {
        margin-left: 20px;
    }

    .logo1 img {
        width: 100px;
    }

    div.top1 .address {
        height: 5px;
        width: 145px;
        margin: -40px auto 0 3%;
        font-size: 1.2em;
    }

    .address p {
        line-height: 5px;
    }

    .address img {
        width: 15px;
    }

    .burger {
        display: inline-block;
        cursor: pointer;
        float: right;
        margin-right: 7%;
        margin-top: -4px;
    }

    .bar1, .bar2, .bar3 {
        width: 40px;
        height: 4px;
        background-color: white;
        margin: 7px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-50deg) translate(-15px, 4px);
        transform: rotate(-47deg) translate(-15px, 4px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(50deg) translate(-15px, -4px);
        transform: rotate(47deg) translate(-10px, -2px);
    }

    div.top2 {
        margin-top: 15px;
        width: 100%;
    }

    div.mobileMenu {
        color: red;
        background: white;
        width: 100%;
        position: absolute;
        /*  display: inline; */
        top: 0;
        opacity: 0.9;
    }

    .mobileMenu p {
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: -20px;
        font-size: 20px;
        font-weight: bold;
    }

    .mobileMenu .navPanel {
        width: 100%;
        height: 265px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 9px;
        padding-left: 20px;
    }

    .navPanel li {
        display: inline-block;
        font-size: 20px;
        color: white;
        line-height: 35px;
        padding-right: 27px;
    }

    .navPanel a {
        color: red;
        text-decoration: none;
    }


    div.top2 .promo, div.top2 .button, div.top3 .menu {
        display: none;
    }

    div.top2Cars {
        margin: 0;
        position: relative;
    }

    div.top2Cars img {
        width: 100%;
    }

    div.top2 .promo2, div.top2 .button2 {
        display: block;
    }

    div.top2 .promo2 {
        width: 100%;
        margin-top: 10px;
        color: white;
        text-align: center;
    }

    .promo2 p {
        font-size: 20px;
    }

    .promo2 h2 {
        font-size: 1.5em;
    }

    div.top2 .button2 {
        text-align: center;
    }

    div.top2 .button2 button {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 200px;
        height: 30px;
        color: #a30606;
        font-size: 1em;
        background: white;
    }

    div.top2 .button2 button:hover {
        color: white;
        background: #a30606;
        border: 1px solid white;
    }


    div.middle {
        margin: 0;
        height: auto
    }

    div.creditForm {
        display: none;
    }

    div.creditForm2 {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: -30px;
    }

    .creditForm2 .creditText {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    .creditForm2 form {
        width: 200px;
        margin: 10px auto 0 auto;
        font-size: 0.9em;
    }

    .creditForm2 .phone {
        width: 200px;
        height: 30px;
        border: 0.5px solid #a30606;
        font-size: 0.9em;

    }

    .creditForm2 .submit {
        width: 200px;
        height: 30px;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 1em;
    }

    .creditForm2 .submit:hover {
        color: #a30606;
        background: white;
        border: 1px solid #a30606;
        transition: 0.3s;
        cursor: pointer;
    }


    div.cars {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 90px ;
    }

    div.car {
        display: inline-block;
        width: 100%;
        height: 200px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 170px;
    }


        /*  Car divs */

    div.photoCar {
        display: inline-block;
        width: 100%;
        height: 100px;
        text-align: center;
    }

    .photoCar h3 {
        width: 270px;
        height: 20px;
        position: relative;
        margin: 0 auto -10px auto;
        padding-right: 65px ;
        font-size: 22px;
    }

    #new {
        color: #a30606;
    }

    .photoCar img {
        display: inline-block;
        width: 220px;
    }

    div.textCar {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 5px;
        margin-left: 0;
    }

    .gift {
        width: 200px;
        margin: 0 auto;
        text-align: left;
    }

    .gift .wheelDiv {
        display: inline-block;
    }

    .gift .wheel {
        width: 30px;
        vertical-align: middle;
    }

    .gift .giftText {
        display: inline-block;
        text-align: left;
        font-size: 1em;
        line-height: 15px;
        vertical-align: middle;
    }

    .textCar .discount {
        margin-top: 7px;
        color: #a30606;
        font-size: 1em;
    }

    .textCar .rectangle {
        width: 200px;
        height: 30px;
        border: 1px solid #a30606;
        margin: 5px auto 0 auto;
        text-align: center;

    }

    .textCar .rectangle p {
        color: #a30606;
        padding: 5px;
        font-size: 0.9em;

    }

    .textCar .getDiscount {
        display: block;
        margin: 6px auto 0 auto;
        width: 200px;
        height: 30px;
        border: none;
        background: #a30606;
        font-size: 0.9em;
        color: white;
        outline: none;
    }

    .textCar .getDiscount:hover {
        color: #a30606;
        background: white;
        border: 1px solid #a30606;
        transition: 0.3s;
        cursor: pointer;
    }

    .textCar .getOffer {
        display: block;
        margin: 6px auto 0 auto;
        width: 200px;
        height: 30px;
        border: none;
        background: #333333;
        color: white;
        outline: none;
        font-size: 0.9em;
    }

    .textCar .getOffer:hover {
        color: #333333;
        background: white;
        border: 1px solid #333333;
        transition: 0.3s;
        cursor: pointer;
    }

        /*  Car divs  */

    #ceed {
        margin-left: 0px;
    }


    div.bottom {
        min-width: 100px;
        text-align: center;
    }

    div.contacts {
        display: block;
        float: none;
        width: 100%;
        background: #a30606;
        color: white;
        text-align: center;
        z-index: 2;
        padding: 20px 0 0 0;
        padding-bottom: 180px;
    }

    .contacts h3 {
        font-size: 20px;
        font-weight: normal;
    }

    .contacts p {
        padding-top: 5px;
        font-size: 1em;
        line-height: 19px;
    }

    .contacts .inputBottom {
        margin-top: 15px;
        margin-left: -1px;
        width: 200px;
        height: 30px;
        background: #a30606;
        color: white;
        outline: none;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    .contacts .submitBottom {
        margin-top: 7px;
        margin-left: -6px;
        width: 200px;
        height: 30px;
        color: #a30606;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    .contacts .submitBottom:hover {
        color: white;
        background: #a30606;
        border: 1px solid white;
        transition: 0.3s;
        cursor: pointer;
    }


    .map {
        width: 100%;
        height: 50px;
        display: block;
        position: relative;
        z-index: 0;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0px;
        padding: 0;
    }

    .map .mapTag {
        width: 100%;
        position: relative;
    }

}

@media (max-width:380px) {

    .creditForm2 .submit {
        margin-top: ;
        margin-left: 0px;
    }
}

@media (max-width: 360px) {
    .address {
        display: none;
    }

    .logo1 img{
        width: 150px;
        margin-top: -10px;
    }
}

@media ( min-width:1359px) {

    div.contacts {
        margin-top: -48px;
        width: 55%;
        height: 185px;
        float: right;
        background: #a30606;
        color: white;
        padding-top: 14px ;
        padding-left: 20px;
        position: relative;
        z-index: 2;
    }
}






